*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }

    :root {
        scroll-behavior: smooth;
    }
}

:where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

:where(ul, ol):not([class]) {
    list-style: '';
    margin: 0;
    padding: 0;
}

:where(button:not(:disabled), a, label) {
    cursor: pointer;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
}